import React, { ReactNode } from 'react';

type {{pascalCase name}}PropsType = {

}

export function {{pascalCase name}}({}: {{pascalCase name}}PropsType): ReactNode {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};